[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-mysqldb = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
pyjwt = "*"
numpy = "*"
keras = "*"
pathlib = "*"
tensorflow = "*"
flask-change-password = "*"

[dev-packages]

[requires]
python_version = "3.8"
